#
# fav3 config file - example
#
# this file contains settings for
# fADC250-V3 - JLAB VXS Flash ADC 12-bit 250 Msps 16 ch Version 3
#
# format:
# ~~~~~~~
# FAV3_CRATE     pradroc1   <- ROC network hostname
# FAV3_SLOT      3          <- slot_number - in which next settings will be implemented
#                                            'all' for all slots
#                   0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 - channels ##
# FAV3_ADC_MASK  1  0  1  1  1  0  1  0  1  0  1  0  1  0  1  0   <- channel enable mask
#
# FAV3_DAC       3300       <- board DAC, one and the same for all 16 channels
# FAV3_CH_DAC    0    3300  <- channel# and DAC_value for this channel
# FAV3_ALLCH_DAC 3300 3280 3310 3280 3310 3280 3310 3280 3300 3280 3300 3280 3310 3280 3310 3280 <- 16 DACs
#
## Sample Processing:
# FAV3_MODE      10   <- process mode: {9, 10}
#                         ( 9: Hall D - Pulse Parameters,
#                          10: Hall D - Pulse Parameters + Raw Samples )
# FAV3_W_OFFSET  50  <- number of [ns] back from trigger point. (0x120)
#                            (in Manual it is  PL=Trigger_Window(ns) * 250MHz)
# FAV3_W_WIDTH   49  <- number of [ns] to include in trigger window. (0x11C)
#                            (in M:  PTW=Trigger_Window(ns) * 250MHz, minimum is 6)
# FAV3_NSB       3   <- number of [ns] before trigger point to include in data processing. (0x124)
#                            This include the trigger Point. (minimum is 2 samples (8 ns) in all mode)
# FAV3_NSA       6   <- number of [ns] after trigger point to include in data processing. (0x128)
#                            Minimum is 6 samples (mode 2) and 3 samples (mode 0 and 1).
#                            Number of sample report is 1 more for odd and 2 more for even NSA number.
# FAV3_NPEAK     1   <- number of Pulses to process [1, 4]
# FAV3_NSAT      4   <- number of [ns] over threshold for valid pulse [4, 16]
# FAV3_NPED      16  <- number of [ns] to sum for pulse pedestal sum [16, 60]
# FAV3_MAXPED    200 <- max pedestal value to be included in pulse pedestal sum
#
# FAV3_READ_THR       410        <- Readout Threshold, same for all 16 channels
# FAV3_CH_READ_THR    0    410   <- channel# and readout threshold for this channel
# FAV3_ALLCH_READ_THR 111  222  2  3  4  5  6  7  8  9  10  11  12  13  14  15   <- 16 Readout Thresholds (0x12C - 0x148)
#
#
## Trigger Path Processing:
#
# FAV3_TRIG_NSA   10  <- number of [ns] after trigger path threshold crossing [0, 252]
# FAV3_TRIG_NSAT   2  <- number of [ns] over threshold for valid trigger path pulse [1, 4]
# FAV3_TRIG_THR  400  <- trigger path threshold
# FAV3_PED       210  <- board Pedestals, same for all channels
# FAV3_CH_PED    0    210   <- channel# and Pedestal_value for this channel
# FAV3_ALLCH_PED 210  220  210  215  215  220  220  210  210  215  215  220  220  210  215  220  <- 16 PEDs
#
#
# FAV3_BUSY    8   <- Module asserts BUSY at this number of unprocessed triggers 
# FAV3_STOP    9   <- Module stops processing triggers at this number of unprocessed triggers 
#
## Rogue PTW Fallback : If enabled, include raw sample data if ADC value over threshold at start of PTW
# FAV3_PTW_FALLBACK_MASK  0  0  1  1  1  1  1  1  1  1  1  1  1  1  1  1 
#
# FAV3_DATA_FORMAT 0  <- Readout data format [0, 2]
#                        ( 0: Standard format
#                          1: Intermediate Compression
#                          2: Full Compression )
#
# FAV3_SUPPRESS_TRIG_TIME 0  <- Suppress trigger time 
#
# FAV3_INSERT_ADC_PARAMS 0 <- If enabled, insert PTW, NSB, NSA into the datastream for readout
#
# FAV3_COMPRESSION 0 <- Hall B compression mode: [0, 2] (0x8 Bits:9,7-6)
#                          (0: disable  1: enable  2: enable and verify)
# FAV3_VXSREADOUT  0 <- readout using VTP via VXS backplane: [0, 1]
#                          (0: disable  1: enable)
#
# FAV3_INVERT_MASK 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 <- 0=ADC values not changed, 1=inverted ADC input polarity (i.e. ADC=4095-ADC)

FAV3_CRATE all

FAV3_SLOT 3

FAV3_PROC_VERSION 0xE05

#       channel:  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15
FAV3_ADC_MASK     1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1

FAV3_DAC 1600

FAV3_W_OFFSET  2000
FAV3_W_WIDTH   200

# 10: pulse parameter + raw mode
FAV3_MODE      10

FAV3_NSA 24
FAV3_NSB 12
FAV3_NPEAK 1
FAV3_NSAT 8
FAV3_NPED 12
FAV3_MAXPED 200

FAV3_READ_THR 5

FAV3_TRIG_NSA 12
FAV3_TRIG_NSAT 8
FAV3_TRIG_THR 5

FAV3_PED 50.

FAV3_BUSY 8
FAV3_STOP 9

FAV3_COMPRESSION 0
FAV3_VXSREADOUT 0

#             channel:  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15
FAV3_PTW_FALLBACK_MASK  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1

FAV3_DATA_FORMAT 1

FAV3_SUPPRESS_TRIG_TIME 0

FAV3_INSERT_ADC_PARAMS 0

FAV3_CRATE end

