#
# fav3 COMPTON config file - example
#
# this file contains settings for
# fADC250-V3 - JLAB VXS Flash ADC 12-bit 250 Msps 16 ch Version 3
#
# format:
# ~~~~~~~
# FAV3_CRATE     comptonroc1   <- ROC network hostname
# FAV3_SLOT      3          <- slot_number - in which next settings will be implemented
#                                            'all' for all slots
#                   0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 - channels ##
# FAV3_ADC_MASK  1  0  1  1  1  0  1  0  1  0  1  0  1  0  1  0   <- channel enable mask
#
# FAV3_DAC       3300       <- board DAC, one and the same for all 16 channels
# FAV3_CH_DAC    0    3300  <- channel# and DAC_value for this channel
# FAV3_ALLCH_DAC 3300 3280 3310 3280 3310 3280 3310 3280 3300 3280 3300 3280 3310 3280 3310 3280
#
#
# -- accumulator window relative to MPS
# FAV3_COMPTON_MPS_START        5 [0, 4095]
# FAV3_COMPTON_MPS_STOP	      500 [0, 8388607]
#
# -- accumulator lo and hi thresholds
# FAV3_COMPTON_ACC_LO_THRESHOLD    10 [0, 4095]
# FAV3_COMPTON_ACC_HI_THRESHOLD  4000 [0, 4095]
# FAV3_COMPTON_ACC_NSB_1ST_LO_X    10 [0, 15]
# FAV3_COMPTON_ACC_NSA_2ND_LO_X    10 [0, 4095]
#
# -- self-trigger pulse parameters
# FAV3_COMPTON_SELF_TRIGGER_NSB            5 [0, 15]
# FAV3_COMPTON_SELF_TRIGGER_NSA            7 [0, 4095]
# FAV3_COMPTON_SELF_TRIGGER_THRESHOLD     20 [0, 4095]
#
# -- number of triggers to NOT process
# FAV3_COMPTON_PRESCALE         0 [0, 1023]
#
# -- hysteresis for helicity signals
# FAV3_COMPTON_HYSTERESIS       0 [0, 63]
#

FAV3_CRATE all

FAV3_SLOT all


#       channel:  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15
FAV3_ADC_MASK     1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1

FAV3_ALLCH_DAC 3000 3000 3000 3000 3000 3000 3000 3000 3000 3000 3000 3000 3000 3000 3000 3000

FAV3_COMPTON_MPS_START			5
FAV3_COMPTON_MPS_STOP			50

FAV3_COMPTON_ACC_LO_THRESHOLD		200
FAV3_COMPTON_ACC_HI_THRESHOLD		440
FAV3_COMPTON_ACC_NSB_1ST_LO_X           8
FAV3_COMPTON_ACC_NSA_2ND_LO_X           10

FAV3_COMPTON_SELF_TRIGGER_NSB		5
FAV3_COMPTON_SELF_TRIGGER_NSA		7
FAV3_COMPTON_SELF_TRIGGER_THRESHOLD     200

FAV3_COMPTON_PRESCALE         0
FAV3_COMPTON_HYSTERESIS       0

FAV3_COMPTON_REPORT           252

FAV3_CRATE end
